<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" color="secondary" text-center>
      <ion-img src="/assets/GeekItOut.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to GeekItOut</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>GeekItOut is a electronical board game that makes learning fun. You can easily test and learn computer concepts regarding computer fundamentals, hardware and networking. Click START GAME to let the fun begin!</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card" color="secondary">
      <ion-card-header text-center>
        <ion-card-title>Rules of the game</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Every player starts on the USB Block with their USB's</li>
          <li>With the first round every player get's the chance to randomly choose what category they want to try first</li>
          <li>Other players get to ask the current player questions that appear on the category chosen</li>
          <li>If a player answers 1 question right, he get's to move 1 block further</li>
          <li>If a player answers 2 question right, he get's to move 2 blocks further</li>
          <li>If a player answers 0 question right, he must move 1 block backwards</li>
          <li>If a player asnwers 0 questions right on the first round, he get's to choose again a category untill het get's the a question right and get's to move on</li>
        </ul> 
      </ion-card-content>
    </ion-card>

    <div text-center>
      <ion-button color="secondary" routerLink="/list" text-center>
        Start Game
      </ion-button>
    </div >
    <br>
</ion-content>